.form-control{
    width: 300px;
}




#addMedicine{
    background-color: rgb(14, 155, 190);
    opacity: 90%;
    width: 90%;
    height: 100px;
    padding-top: 8px;
    
    margin-top: 50px;
    
    display: block;
    top:100px;
}

.form-group{
    display: inline-flex;
    width: 150px;
    margin: 30px;
}