<div align="center" class="nav-tabs-justified" style="background-color: rgb(143, 86, 11); ">
    <button class="bttn btn-primary">Add Medicine</button>
    <button class="bttn btn-primary">Update Medicine</button>
    <button class="bttn btn-primary">Delete Medicine</button>
</div>

<div align="center" class="container">
    <form align="center" [formGroup]="addMedicineForm" (ngSubmit)="addMedicine()" autocomplete="off" id="addMedicine">

        <div class="form-group">
            <input type="text" name="med_name" formControlName="med_name" autocomplete="off"
                class="form-control" placeholder="Enter medicine name" id="med_name">
        </div>
        <div class="form-group">
            <input type="text" name="med_power" formControlName="med_power" autocomplete="off"
                class="form-control" placeholder="Enter power" id="med_power">
        </div>
        <div class="form-group">
            <input type="text" name="med_quantity" formControlName="med_quantity"
                autocomplete="off" class="form-control" placeholder="Enter quantity" id="med_quantity">
        </div>
        <div class="form-group">
            <input type="text" name="p_id" formControlName="p_id"
                autocomplete="off" class="form-control" placeholder="Enter patient id" id="p_id">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Add
                To Patient</button>
        </div>
    </form>
</div>