footer{
    background-color: rgb(22, 22, 22);
    height: 30%;
    margin: 0;
    padding: 0;
    // border:yellow 2px solid;
}

.footer_logo {
    border: 10px solid transparent;
    margin: 25px 25px;
    width: 20%;
    height: 20%;
    opacity: 0.7;
  }
  .footer_logo:hover {
    border-color: #f1f1f1;
  }