<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <div align="center" class="container">
    <img src="/assets/images/logo/doctor.png" class="img-circle footer_logo" alt="Random Name">
    <img src="/assets/images/logo/examination.png" class="img-circle footer_logo" alt="Random Name">
    <img src="/assets/images/logo/hospitalisation.png" class="img-circle footer_logo" alt="Random Name">
  </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" >© 2020 Copyright:
      <a href="https://mdbootstrap.com/" style="color: brown;font-size: 1.5em;"> YulcomHealth.com</a>
    </div>
</footer>
<!-- Footer -->