/*************************Contact***********************/
#asideId{
  background-color: rgba(218, 186, 186, 0.685);
  width: 30%;
  height: 700px;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  padding-right: 30px;
}

#gpsLocation{
border: rgb(173, 181, 189) solid 3px;
float: right;
width: 60%;
height: 700px;
margin-top: 20px;
margin-right: 30px;

}

#gpsIframe{
  width:100%;
  height: 100%;
}