<!--justify-content-center-->
<ul class="nav nav-tabs bg-dark navbar-light" style="background-color: rgb(177, 174, 8);">
      <li class="nav-item pull-left" *ngIf="isLoggedIn"><a class="nav-link" routerLink="/home"
                  routerLinkActive="Active">
                  <i class="fas fa-home"></i>Home</a></li>

      <li class="nav-item pull-left"><a class="nav-link" routerLink="/about" routerLinkActive="Active">
                  <i class="fas fa-file"></i>About-Us</a></li>

      <li class="nav-item pull-left"><a class="nav-link" routerLink="/contact-us" routerLinkActive="Active">
                  <i class="fas fa-phone"></i>Contact-Us</a></li>



      <li class="nav-item pull-right" *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/login"
                  routerLinkActive="Active">
                  <i class="fas fas fa-user-check"></i>Login</a></li>

      <li class="nav-item pull-right" *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/register"
                  routerLinkActive="Active">
                  <i class="fas fa-registered"></i>Sign-Up</a></li>

      <li class="nav-item pull-right" *ngIf="isLoggedIn"><button class="nav-link" (click)="logout()"
                  style="background-color:rgb(177, 174, 8);margin-top: 8px;">
                  <i class="fas fa-unlock-alt"></i>Logout</button></li>


      <li class="nav-item pull-right" *ngIf="isLoggedIn"><a><i class="fas fa-user"></i> &nbsp;{{userName}}</a></li>

</ul>



<div class="page-header "
      style="height: 200px; background-image: url('/assets/images/home/bg_header5.jpg');background-repeat: no-repeat;background-size: cover;margin: 0px;padding: 0px;">

      <a routerLink="/home"><img class="pull-left" style="margin:50px 30px" src="/assets/images/logo/logo.png"
                  height="80" width="150"></a>
      <h1 class="text-center" align="center"
            style="margin: 0;padding: 0;position: relative;top:70px;left:-10%;font-weight: bold;">Welcome to
            <span
                  style="background-color: rgb(10, 75, 75); color: darkgoldenrod;padding: 10px;border: 5%;">{{websiteTitle.title}}</span>
      </h1>

      <select class="bg-success border-purple  col-sm-1 pull-right" id="language" (change)="changeLang($event.target.value)">
            <option value="en" [selected]="lang == 'en'">English</option>
            <option value="fr" [selected]="lang == 'fr'">French</option>
            <option value="bn" [selected]="lang == 'bn'">Bengali</option>
            <option value="ar" [selected]="lang == 'ar'">Arabic</option>
      </select>
</div>