.container{
    margin-top: 50px;
    padding: 0;
}
.row{
    background-color: rgb(14, 155, 190);
    opacity: 90%;
    width: 100%;
    padding: 0;
    margin: 10;
    display: block;
    top:100px;
}

.form-group{
    padding-top: 10px;
}

input{
    width: 100%;
    padding: 2px;
    margin: 0;
}

.table{
    width:100%;
    background-color: cadetblue;
    border:solid 1px rgb(61, 26, 1);
}
td{
    width:200px;
}

h3{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 26, 255);
    font-kerning: auto;    
}

#addPatient{
    background-color: darkgray;
    margin-top: 0;
    // padding: 0;
}

#patientList{
    background-color: darkgray;

}
#appointmentList{
    background-color: darkgray;
}