<div align="center" class="nav-tabs-justified" style="background-color: rgb(143, 86, 11); ">
    
</div>

<div align="center" class="container" id="addPatient">
    <h3 align="center">Add Patient</h3>
    <hr>
    <form class="row" align="center" [formGroup]="addPatientForm" (ngSubmit)="addPatient()" autocomplete="off"
        id="addPatient">

        <div class="form-group col-sm-2">
            <input type="text" name="fname" formControlName="fname" autocomplete="off" class="form-control"
                placeholder="Enter First Name" id="fname">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" name="lname" formControlName="lname" autocomplete="off" class="form-control"
                placeholder="Enter Last Name" id="lname">
        </div>
        <div class="form-group col-sm-2">
            <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control"
                placeholder="Enter Email" id="email">
        </div>
        <div class="form-group col-sm-2">
            <input type="number" name="phone" formControlName="phone" autocomplete="off" class="form-control"
                placeholder="Enter phone number" id="phone">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" name="address" formControlName="address" autocomplete="off" class="form-control"
                placeholder="Enter Address" id="address">
        </div>

        <div class="form-group col-sm-2">
            <button type="submit" [disabled]="addPatientForm.invalid" class="btn btn-success">Add
                Patient</button>
        </div>

    </form>
    <p align="center">{{successfulMessage}}</p>
</div>

<div class="container" id="patientList">
    <h3 align="center">Patients Descriptions</h3>
    <hr>

    <table align="center" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Registered</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patientsList">
                <td>{{patient.fname}}</td>
                <td>{{patient.lname}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.register_date}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="container" id="appointmentList">
    <h3 align="center">List of appointments</h3>
    <hr>

    <table align="center" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Dept. Name</th>
                <th scope="col">Time</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointmentList">
                <td>{{appointment.fname}}</td>
                <td>{{appointment.lname}}</td>
                <td>{{appointment.email}}</td>
                <td>{{appointment.phone}}</td>
                <td>{{appointment.name}}</td>
                <td>{{appointment.datetime}}</td>
            </tr>
        </tbody>
    </table>
</div>




<div></div>

<!-- <div align="center" class="container">
    <form>
        <form align="center" [formGroup]="updatePatientForm" (ngSubmit)="updatePatient()" autocomplete="off"
            id="addPatient">

            <div class="form-group">
                <input type="text" name="p_fname" formControlName="p_fname" autocomplete="off" class="form-control"
                    placeholder="Enter First Name" id="p_fname">
            </div>
            <div class="form-group">
                <input type="text" name="p_lname" formControlName="p_lname" autocomplete="off" class="form-control"
                    placeholder="Enter Last Name" id="p_lname">
            </div>
            <div class="form-group">
                <input type="email" name="p_email" formControlName="p_email" autocomplete="off" class="form-control"
                    placeholder="Enter Email" id="p_email">
            </div>
            <div class="form-group">
                <input type="text" name="p_address" formControlName="p_address" autocomplete="off" class="form-control"
                    placeholder="Enter Address" id="p_address">
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="updatePatientForm.invalid" class="btn btn-success">Update
                    Patient</button>
            </div>

        </form>
    </form>
</div> -->