<div class="row">
    <div class="col-md-4 "></div>

    <div class="col-md-4 mx-auto" id="login">
        <div align="center">
            <img src="/assets/images/logo/user2.png" class="img-circle user_logo" alt="Random Name">
        </div>
        <h1 class="text-center">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" formControlName="username" autocomplete="off" class="form-control"
                    placeholder="ex: msohan008" id="l_username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" formControlName="password" autocomplete="off"
                    class="form-control" placeholder="ex: abcd#kj2" id="l_password">
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
            </div>

            <div class="form-group">
                <a href="#" style="color:brown">Forgot Password?</a><br>
            </div>
        </form>

        <h5 id="respondMessage"> {{alertMessage}}</h5>

    </div>
    <div class="col-md-4 "></div>
</div>