.form-control{
    width: 300px;
}


#login{
    background-color: rgb(42, 139, 113);
    opacity: 90%;
    width: 400px;
    height: 500px;
    padding-top: 50px;
    padding-left: 50px;
    display: block;
    top:100px;
    
}

.user_logo {
    padding: 0;
    margin-top: -30px;
    border: 10px solid transparent;
    width: 150px;
    height: 150px;
    opacity: 0.7;
    border: rgb(10, 10, 10) solid 5px;
  }
#respondMessage{
    color:crimson;
}