<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 .mx-auto" id="signUp">
        <h1 class="text-center">Sign-up</h1>
        
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" name="fname" formControlName="fname" autocomplete="off" class="form-control"
                    placeholder="ex: Abdus" id="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" formControlName="lname" autocomplete="off" class="form-control"
                    placeholder="ex: Seikh" id="lname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control"
                    placeholder="ex: abdus@seikh.com" id="email">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" formControlName="username" autocomplete="off" class="form-control"
                    placeholder="ex: abdus007" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" formControlName="password" autocomplete="off"
                    class="form-control" placeholder="ex: Abdus@seikh.123" id="password">
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success">Register</button>
            </div>
        </form>
        <h5 id="respondMessage"> {{alertMessage}}</h5>

    </div>
    <div class="col-md-4"></div>
</div>