.form-control{
    width: 300px;
}
#signUp{
    background-color: rgb(42, 139, 113);
    opacity: 90%;
    width: 400px;
    height: 550px;
    padding-top: 0;
    padding-left: 50px;
    display: block;
    top:100px;
}


