<div class="container" style="padding-top: 5%; ">
    <h3 align="center" style="font-weight: bold;">Users Descriptions</h3>
    <table align="center" class="table" style="background-color: rgba(214, 194, 194, 0.705);">
        <thead class="thead-dark" style="background-color: cornflowerblue;">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">View Details</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            <tr *ngFor="let user of usersList">
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td>
                    <button routerLink="./user-details/{{user.id}}" class="bttn btn-primary">Edit &nbsp;<i
                            class="fas fa-edit"></i></button>&nbsp;
                    <button (click)="deleteUser(user.id)" class="bttn btn-danger">Delete &nbsp;<i
                            class="fas fa-eraser"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>