<div class="row">
    <div class="sidebar col-sm-3 justify-content-center">
        <div align="center">
            <img class="img-circle user_img" src="/assets/images/logo/abdus.jpg">
            <a href="#">
                <h4> Mr. Abdus Sobhan Seikh</h4>
            </a>
        </div>
        <hr style="color: chartreuse;border: crimson solid 5px;">
        <div class="dash-board align-items-center">
            <ul class="nav  bg-dark navbar-light">
                <li class="nav-item"><a routerLink="/dashboard" routerLinkActive="Active">
                        <h4><img class="icon" src="/assets/images/logo/dashboard.png">&nbsp;Dashboard </h4>
                    </a></li>
                <li class="nav-item"><a href="#">
                        <h4><img class="icon" src="/assets/images/logo/employee-list.png">&nbsp;Employee List</h4>
                    </a></li>
                <li class="nav-item"><a href="#">
                        <h4><img class="icon" src="/assets/images/logo/holiday.png">&nbsp;Holiday List</h4>
                    </a></li>
                <li class="nav-item"><a href="#">
                        <h4><img class="icon" src="/assets/images/logo/job-applicant.png">&nbsp;Job Applicant List</h4>
                    </a></li>
                <li class="nav-item"><a href="#">
                        <h4><img class="icon" src="/assets/images/logo/settings.png">&nbsp;Settings</h4>
                    </a></li>
            </ul>
        </div>

    </div>
    <div class="main-panel col-sm-9">.
            <ul class="nav nav-tabs bg-dark navbar-light">
                <li class="nav-item "><a href="#">Search</a></li>
                <li class="nav-item "><a href="#">Notification</a></li>
            </ul>
        
            col-sm-
    </div>
</div>