.sidebar{
    background-color: rgb(1, 26, 15);
    height: 800px;
}
.main-panel{
    background-color: cornsilk;
    height: 800px;
    margin: 0;
    padding: 0;
}


.user_img {
    padding: 0;
    margin: 40px 80px;
    border: 10px solid transparent;
    width: 150px;
    height: 150px;
    opacity: 0.7;
    border: rgb(10, 10, 10) solid 5px;
  }
  .icon{
      height: 25px;
  }