
    <div align="center" class="nav-tabs-justified" style="background-color: rgb(143, 86, 11); ">
        <button class="bttn btn-primary" >Add Patient</button>
        <button class="bttn btn-primary">Update Patient</button>
        <button class="bttn btn-primary">Delete Patient</button>
    </div>

    <div align="center" class="container" >
        <form>
            <form align="center" [formGroup]="addPatientForm" (ngSubmit)="addPatient()"  autocomplete="off"
                id="addPatient">

                <div class="form-group">
                    <input type="text" name="p_fname" formControlName="p_fname" autocomplete="off" class="form-control"
                        placeholder="Enter First Name" id="p_fname">
                </div>
                <div class="form-group">
                    <input type="text" name="p_lname" formControlName="p_lname" autocomplete="off" class="form-control"
                        placeholder="Enter Last Name" id="p_lname">
                </div>
                <div class="form-group">
                    <input type="email" name="p_email" formControlName="p_email" autocomplete="off" class="form-control"
                        placeholder="Enter Email" id="p_email">
                </div>
                <div class="form-group">
                    <input type="text" name="p_address" formControlName="p_address" autocomplete="off"
                        class="form-control" placeholder="Enter Address" id="p_address">
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="addPatientForm.invalid" class="btn btn-success">Add
                        Patient</button>
                </div>

            </form>
        </form>
    </div>

    <div align="center" class="container" >
        <form>
            <form align="center" [formGroup]="updatePatientForm" (ngSubmit)="updatePatient()"  autocomplete="off"
                id="addPatient">

                <div class="form-group">
                    <input type="text" name="p_fname" formControlName="p_fname" autocomplete="off" class="form-control"
                        placeholder="Enter First Name" id="p_fname">
                </div>
                <div class="form-group">
                    <input type="text" name="p_lname" formControlName="p_lname" autocomplete="off" class="form-control"
                        placeholder="Enter Last Name" id="p_lname">
                </div>
                <div class="form-group">
                    <input type="email" name="p_email" formControlName="p_email" autocomplete="off" class="form-control"
                        placeholder="Enter Email" id="p_email">
                </div>
                <div class="form-group">
                    <input type="text" name="p_address" formControlName="p_address" autocomplete="off"
                        class="form-control" placeholder="Enter Address" id="p_address">
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="updatePatientForm.invalid" class="btn btn-success">Update
                        Patient</button>
                </div>

            </form>
        </form>
    </div>
