// .form-control{
//     width: 300px;
// }
#editUser{
    background-color: rgb(136, 124, 72);
    opacity: 90%;
    width: 500px;
    height: 400px;
    padding-top: 70px;
    //padding-top: 8px;
    //margin-left: 41%;
    // display: block;
    //top:100px;
}

.form-group{
    display: flexbox;
    width: 350px;
    height: 20px;
}
label{
    float: left;
}
input{
    float: right;
    height: 30px;
    width: 250px;
}

select{
    float: right;
    height: 30px;
    width: 250px;
}