<div align="center" class="container" style="padding-top: 5%; ">
    <h3 style="font-weight: bold;">Update Information</h3>
    
    <form [formGroup]="updateUserForm" *ngIf="updateUserForm" (ngSubmit)="updateUser()" id="editUser"
        autocomplete="off">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" value="{{username}}" id="username" name="username"  readonly autocomplete="off"
                class="form-control">
        </div>
        
       
        <div class="form-group" style="display: none;">
            <label for="id">ID</label>
            <input type="number"  id="id" name="id" formControlName="id" autocomplete="off"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text"  id="fname" name="fname" formControlName="fname" autocomplete="off"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text"  id="lname" name="lname" formControlName="lname" autocomplete="off"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"  id="email" name="email" formControlName="email" autocomplete="off"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="role_id">Role</label>
        
            <select name="role_id" id="role_id"  formControlName="role_id" autocomplete="off" class="form-control">
                <option  *ngFor="let role of rolesTable" [ngValue]="role.id">{{role.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="bttn btn-primary">Submit</button>
        </div>

    </form>
</div>

