
<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div style="height: 1055px;background-image: url('/assets/images/home/bg.gif'); ">
    
    <router-outlet></router-outlet>

</div>
<app-footer></app-footer>