<div align="center" class="nav-tabs-justified" style="background-color: rgb(143, 86, 11); ">
    <button class="bttn btn-primary" (click)="displayPatients()">Display Patients</button>

</div>


<div class="container" style="padding-top: 5%; ">
    <h3 align="center" style="font-weight: bold;">Patients Descriptions</h3>

    <div align="center">
        <label for="search">Search : &nbsp;</label>
        <input type="search" placeholder="search by First name." id="search">
    </div>
    <hr>

    <table align="center" class="table" style="width:70%;background-color: cadetblue;border:solid 1px rgb(61, 26, 1);">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td><button id="patient_fname" (click)="getPatientInfo(patient)">{{patient.p_fname}}</button></td>
                <td>{{patient.p_lname}}</td>
                <td>{{patient.p_email}}</td>
                <td>{{patient.p_address}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div>

</div>