
.row{
    padding-top: 100px;
}
h2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.form-group{
    width:300px;   
    padding: 0;
}

input{
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
}

label{
    background-color: rgb(53, 70, 64);
    width: 100%;
    height: 25px;
    color: beige;
    margin: 0;
    padding: 0;
}

