<div class="row">
    <div class="col-sm-4">

    </div>
    <div align="center" class="col-sm-4 justify" style="background-color: rgb(173, 117, 77);">


        <h3 class="header col-sm-12">Book Appointment</h3>

        <form class="col-sm-12" [formGroup]="appointmentForm" id="bookAppointment" autocomplete="off">

            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname" formControlName="fname" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname" formControlName="lname" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" autocomplete="off"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number <button class="bttn btn-primary"
                        (click)="searchPatient()">Search</button></label>
                <input type="number" id="phone" name="phone" formControlName="phone" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="dept_id">Select Department</label>
                <select id="dept_id" name="dept_id" formControlName="dept_id" autocomplete="off" class="form-control">
                    <option *ngFor="let dept of departmentTable" [ngValue]="dept.id">{{dept.name}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="datetime">Date & Time</label>
                <input type="datetime-local" min="2020-12-06T10:00:00" max="2022-11-16T20:00:00" id="datetime"
                    name="datetime" formControlName="datetime"  autocomplete="off" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" (click)="getAppointment()" class="bttn btn-primary">Submit</button>
            </div>

        </form>
        <button align="center" class="bttn btn-info" routerLink="appointment-scheduler">Display Scheduler Calender</button>
    </div>

    <div class="col-sm-4">
       

    </div>

    
</div>
