<div class="row">
    <div class="col-sm-4"></div>

    <div align="center" class="col-sm-4 justify" style="background-color: rgb(92, 107, 106);">
        <ul>
            <li>First Name : {{appointmentInfo.fname}}</li>
            <li>Last Name : {{appointmentInfo.lname}}</li>
            <li>Email : {{appointmentInfo.email}}</li>
            <li>Phone : {{appointmentInfo.phone}}</li>
            <li>Department : {{appointmentInfo.dept_id}}</li>
            <li>Date & Time : {{appointmentInfo.datetime}}</li>
            <li><button class="bttn alert-success"  (click)="update()">Update Appointment </button></li>
            <li><button class="bttn alert-danger" (click)="delete()">Cancel Appointment </button></li>
            <p>{{alertMessage}}</p>
        </ul>

        <!-- <h3 class="header col-sm-12">Update Appointment</h3> -->
        <form class="col-sm-12" [formGroup]="updateForm" id="updateAppointment" autocomplete="off">
            <legend>Update Appointment</legend>
            <div class="form-group">
                <label for="id" style="display: none;">ID</label>
                <input type="number" id="id" name="id" formControlName="id" autocomplete="off" class="form-control"
                    style="display: none;">
            </div>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname" formControlName="fname" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname" formControlName="lname" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" autocomplete="off"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number </label>
                <input type="number" id="phone" name="phone" formControlName="phone" autocomplete="off"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="dept_id">Select Department</label>
                <select id="dept_id" name="dept_id" formControlName="dept_id" autocomplete="off" class="form-control">
                    <!-- <option *ngFor="let dept of departmentTable" [ngValue]="dept.id">{{dept.name}}</option> -->
                    <option *ngFor="let dept of departmentTable" [ngValue]="dept.id">{{dept.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="datetime">Date & Time</label>
                <input type="datetime-local" min="2020-12-06T10:00:00" max="2022-11-16T20:00:00" id="datetime"
                    name="datetime" formControlName="datetime" autocomplete="off" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" (click)="updateAppointment()" class="bttn btn-primary">Submit</button>
            </div>
            <p>{{alertMessage}}</p>
        </form>



    </div>

    <div class="col-sm-4"></div>

</div>