<div class="container" style="padding-top: 10%;">
 
  <div class="row">
    
    <div *ngFor="let x of applications" align="center" class="col-xs-6 col-md-3">
      <a routerLink="{{x.routerlink}}" class="thumbnail">
        <img src="/assets/images/home/{{x.icon}}" alt="...">
      </a>
      <h4>{{x.name}}</h4>
    </div>
  </div>

</div>